/*
[]========== Colors ==========[]
*/

$colorPrimary: #262D37;
$colorPrimaryDark: #222831;
$colorAccent: #FF4848;
$colorWhite: #fcfcfc;
$colorPlaceholder: #3D4550;
$colorSuccess: #538d4a;

/*
[]========== Animations ==========[]
*/
$animSpeedQuick: .05;
$animSpeedFast: .1;
$animSpeedNormal: .3;
$animSpeedLong: .45;

/*
[]========== Cubic-Bezier-Eases ==========[]
*/
$cubicNorm: cubic-bezier(.53,.01,.18,1);

/*
[]========== Border-Radius ==========[]
*/
$borderRadSmall: 8px;
$borderRadNormal: 1em;

/*
[]========== Shadows ==========[]
*/
$shadowNormal: 0px 0px 6px 0px rgba(0,0,0, 0.13);
$shadowHeavy: 0px 0px 6px 0px rgba(0,0,0, 0.25);