.slide-enter-active {
    animation: slideInLeft $animSpeedNormal*1s $cubicNorm;
}
.slide-leave-active {
    animation: slideOutLeft $animSpeedNormal*1s $cubicNorm;
}

.notice-enter-active {
    animation: noticeBounceIn $animSpeedLong*1s $cubicNorm;
}
.notice-leave-active {
    animation: noticeBounceOut $animSpeedNormal*1s $cubicNorm;
}

.fade-enter-active {
    animation: fadeIn $animSpeedNormal*1s $cubicNorm forwards;
}
.fade-leave-active {
    animation: fadeOut $animSpeedNormal*1s $cubicNorm forwards;
}



/*
Fade
*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

/*
Slide
*/
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOutLeft {
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
    from {
        opacity: 1;
        transform: translateX(0);
    }
}

/*
Scale
*/
@keyframes scaleNoticeIn {
    from {
        opacity: 0;
        transform: scale(0.9) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(-50%);
    }
}
@keyframes scaleNoticeOut {
    from {
        opacity: 1;
        transform: scale(1) translateX(-50%);
    }
    to {
        opacity: 0;
        transform: scale(0.9) translateX(-50%);
    }
}

/*
Notice
*/
@keyframes noticeBounceIn {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
@keyframes noticeBounceOut {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}