.slide-enter-active {
    animation: slideInLeft $animSpeedNormal*1s $cubicNorm;
}
.slide-leave-active {
    animation: slideOutLeft $animSpeedNormal*1s $cubicNorm;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOutLeft {
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
    from {
        opacity: 1;
        transform: translateX(0);
    }
}