/*
[]=========== Fonts ===========[]
*/
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('assets/fonts/poppins/poppins_regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('assets/fonts/poppins/poppins_medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('assets/fonts/poppins/poppins_semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('assets/fonts/poppins/poppins_bold.ttf') format('truetype');
}