form {
    p {
        margin: 0.5em 0;
    }
}

.form-group {
    display: block;
    padding: 0.5em 0;

    &.inline {
        display: inline;
    }
}

label {
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 0.3em;
}

input[type=text],
input[type=password] {
    border: none;
    background: $colorPrimary;
    appearance: none;
    outline: none;
    border-radius: $borderRadTiny;
    padding: 1em;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 500;
    border: 3px solid transparent;
    transition: all $animSpeedFast*1s $cubicNorm;

    &.full {
        display: block;
        width: 100%;
    }

    &:focus {
        border-color: $colorPlaceholder;
        box-shadow: $shadowHeavy;
    }
}