@mixin input {
    border: none;
    background: $colorPrimary;
    appearance: none;
    outline: none;
    border-radius: $borderRadTiny;
    padding: 1em;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 500;
    border: 3px solid transparent;
    transition: all $animSpeedFast*1s $cubicNorm;

    &:disabled {
        cursor: not-allowed;
    }
}

form {
    p {
        margin: 0.5em 0;
    }
}

.form-group {
    display: block;
    padding: 0.5em 0;
    

    &.inline {
        display: inline;
    }
    &.half {
        display: inline-block;
        width: 50%;
        padding-right: 0.5em;
        padding-left: 0.5em;
        vertical-align: top;
    }

    &.error {
        input {
            border: 2px solid $colorAccent;
        }
    }

    .form-error {
        font-size: 0.7em !important;
        padding: 0.3em;
        letter-spacing: 0.5px;
        font-weight: 300;
        color: $colorAccent;
    }

    ul {
        padding: 0.1em 0.3em;
        padding-left: 1.3em;
        font-size: 0.7em;
        opacity: 0.5;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

label {
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 0.3em;

    span {
        font-size: 0.7em;
        font-weight: 300;
        opacity: 0.5;
        vertical-align: middle;
    }

    &.checkbox {
        cursor: pointer;
        border-radius: $borderRadTiny;
        font-weight: 500;

        &:hover {
            background: $colorPrimaryDark;
        }
    }

    &.btn {
        display: inline-block;
    }
}

input[type=text],
input[type=password],
input[type=number] {
    @include input;

    &.full {
        display: block;
        width: 100%;
    }

    &:focus {
        border-color: $colorPlaceholder;
        box-shadow: $shadowHeavy;
    }
}
input[type=checkbox] {
    @include input;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid rgba($color: $colorPlaceholder, $alpha: 0.3);
    padding: 0;
    overflow: hidden;
    width: 2em;
    height: 2em;
    cursor: pointer;

    &:checked {
        background: $colorAccent !important;

        &::after {
            position: absolute;
            content: '';
            background: url('assets/images/icons/correct.svg');
            background-size: cover;
            background-position: center;
        }
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
        height: 1em;
        transform: translate(-50%, -50%);
        content: '';
    }

    &:not(.select) {
        margin-right: 1em;
        width: 3em;
        height: 1.8em;
        font-size: 1em;
        border-radius: 1em;

        &::after {
            top: 50%;
            transform: translateY(-50%);
            left: 0.2em;
            height: 1.2em;
            width: 1.2em;
            border-radius: 50%;
            background: none;
            background-color: $colorPlaceholder;
            transition: all $animSpeedFast*1s $cubicNorm;
        }

        &:checked::after {
            transform: translate(90%, -50%);
        }
    }
}

.section-box {
    input[type=text],
    input[type=password],
    input[type=checkbox],
    input[type=number] {
        background-color: $colorPrimaryDark;
    }

    .select-wrapper {
        background-color: $colorPrimaryDark;
    }
}

.select-wrapper {
    @include input;
    padding: 0;
    border: none;
    position: relative;

    select {
        width: 100%;
        @include input;
        background: inherit;
        font-size: 1em;
        appearance: initial;

        &::selection {
            background: transparent;
        }
    }

    .select-loader {
        position: absolute;
        left: $innerPad/2;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        right: $innerPad/2;
        height: 12px;
        width: 12px;
        background: url('assets/images/icons/down.svg');
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        content: "";
        pointer-events: none;
    }
}


