@import '_variables';
@import 'fonts';

/*
[]=========== General styling ===========[]
*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: $colorWhite;
    z-index: 1;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 500;
    background-color: $colorPrimaryDark;
}

.content-control {
    padding: 0em 2.5em;
}

a {
    display: inline-block;
    text-decoration: inherit;
    color: inherit; 
}
p {
    font-size: 0.9em;
}
.loader {
    height: 28px;
    width: 28px;
}

/*
[]=========== Layout ===========[]
*/
.layout-table {
    display: table;
    width: 100%;
    
}
#wrapper {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    
}

.layout-col {
    display: table-cell;
    vertical-align: top;
    
    height: 100%;
    width: 100%;
    max-width: 100%;
    transition: all $animSpeedLong*1s $cubicNorm;
    
}
#toast-container {
    position: fixed;
    bottom: $innerPad;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;
    width: 400px;
}
#modal-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: black, $alpha: 0.7);
    z-index: 10000;
    padding: $innerPad;
}
.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: initial;
    overflow-y: auto;
    z-index: 1000;
    text-align: center;
    width: 240px;
    border-top-right-radius: $borderRadLarge;
    border-bottom-right-radius: $borderRadLarge;
    background-color: $colorPrimary;
    transition: all $animSpeedLong*1s $cubicNorm;

    &.large {
        width: 300px;
    }
}
.content-wrapper {
    position: relative;
    padding-top: $innerPad/2;
    padding-bottom: $innerPad*3;
    

    &>*:not(.horizontal-scroll-wrapper) {
        padding-left: $innerPad;
        padding-right: $innerPad;
    }
    //transition: all $animSpeedLong*1s $cubicNorm;
}

/*
[]=========== Boxes ===========[]
*/
.section-box {
    background-color: $colorPrimary;
    border-radius: $borderRadTiny;
    padding: $innerPad;
    margin-top: $innerPad;
    overflow: hidden;

    &:first-of-type {
        margin-top: 0;
    }
}
.msg-box {
    display: inline-block;
    width: 100%;
    background-color: $colorPlaceholder;
    border-radius: $borderRadTiny;
    padding: $innerPad/1.3;
    font-size: 0.8em;

    img {
        vertical-align: middle;
        float: left;
    }
}
.error-box {
    background-color: $colorAccent;
    border-radius: $borderRadTiny;
    padding: $innerPad/2;
    font-size: 0.85em;
    letter-spacing: 0.3px;
}
.error-box-outline {
    background-color: transparent;
    border: 3px solid $colorAccent;
}

/*
[]=========== Badges ===========[]
*/
.badge {
    display: inline-block;
    background-color: $colorPlaceholder;
    font-size: 0.75em;
    height: 100%;
    vertical-align: middle;
    padding: 0.5em 0.8em;
    border-radius: $borderRadTiny;
    font-weight: 500;
    margin: 0.5em;
    letter-spacing: 0.5px;

    &.accent {
        background-color: $colorAccent;
    }
    &.dark {
        background-color: $colorPrimaryDark;
    }

    &.small {
        height: initial;
        font-size: 0.7em;
        padding: 0.4em 0.6em;
    }
    &.tiny {
        font-size: 0.6em;
    }

    &.botr {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

li {
    .badge {
        margin: 0 0.5em;
    }
}

/*
[]=========== Tags ===========[]
*/
.tag {
    display: inline-block;
    background-color: rgba($color: $colorPlaceholder, $alpha: 0.5);
    font-size: 0.55em;
    letter-spacing: 0.7px;
    font-weight: 500 !important;
    height: 100%;
    vertical-align: middle;
    padding: 0.5em 1em;
    border: 2px solid $colorPlaceholder;
    border-radius: 2em;
    font-weight: 500;
    margin-right: 0.5em;
    cursor: pointer;

    &::selection {
        background: transparent;
    }
}

/*
[]=========== Image placeholder ===========[]
*/
img {
    position: relative;
    pointer-events: none;
    vertical-align: middle;
    overflow: hidden;

    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $colorPlaceholder;
        border: 1px solid $colorPlaceholder;
    }
}

/*
[]=========== Buttons ===========[]
*/
.btn {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    font-family: 'Poppins';
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 1em 1.5em;
    border-radius: $borderRadTiny;
    cursor: pointer;
    transition: all $animSpeedFast*1s $cubicNorm;

    @include pressable('l');

    img {
        height: 1.4em;
        margin-right: 0.8em;
        vertical-align: middle;
        pointer-events: none !important;

        &::selection {
            background: none !important;
        }
    }
}

.btn-accent {
    background-color: $colorAccent;

    &:hover:not(:disabled) {
        background-color: darken($color: $colorAccent, $amount: 2);
    }
}
.btn-success {
    background-color: $colorSuccess;

    &:hover:not(:disabled) {
        background-color: darken($color: $colorSuccess, $amount: 2);
    }
}
.btn-dark {
    background-color: $colorPrimary;

    &:hover:not(:disabled) {
        background-color: darken($color: $colorPrimary, $amount: 2);
    }
}
.btn-darker {
    background-color: $colorPrimaryDark;

    &:hover:not(:disabled) {
        background-color: darken($color: $colorPrimaryDark, $amount: 2);
    }
}
.btn-light {
    background-color: $colorPlaceholder;

    &:hover:not(:disabled) {
        background-color: darken($color: $colorPlaceholder, $amount: 2);
    }
}
.btn-tertiary {
    &:hover:not(:disabled) {
        background-color: darken($color: $colorPrimary, $amount: 3);
    }
}
.btn-inline {
    padding: 0.9em;
}
.btn-icon {
    padding: unset;
    padding: 1em 1em 1em 1em !important;

    img {
        height: 1em;
        width: 1em;
        display: inline-block;
        margin: 0;
    }
}
.btn-full {
    display: block;
    width: 100%;
    margin: 0.5em 0;
}
.btn-small {
    padding: 0.8em 1.6em;
    font-size: 0.65em;
}

.btn:disabled {
    opacity: 0.3;

    &:active {
        transform: none;
    }
}

.btn-align-left {
    text-align: left;
}
.btn-align-center {
    text-align: center;
}

/*
[]=========== Horizontal lines ===========[]
*/
hr {
    &.interface {
        appearance: none;
        border: none;
        height: 3px;
        width: 50%;
        margin: 0 auto;
        background-color: $colorPlaceholder;
        opacity: 0.4;
        border-radius: 4px;
        margin: 1em auto;

        &.large {
            width: 100%;
        }
    }
}

/*
[]=========== Taskbar ===========[]
*/
#taskbar {
    position: fixed;
    bottom: -$innerPad*1.4;
    z-index: 1000;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    transition: all $animSpeedNormal*1s $cubicNorm;
    border-top-left-radius: $borderRadSmall;
    border-top-right-radius: $borderRadSmall;
    overflow: hidden;

    .taskbar-wrapper {
        padding: $innerPad/2;
        position: relative;
        background-color: $colorPlaceholder;

        p {
            font-size: 0.7em;
            font-weight: 500;
            letter-spacing: 1px;

            span {
                letter-spacing: 0px;
                font-weight: 700;
                font-size: 1.1em;
                vertical-align: middle;
            }
        }

        button {
            margin-top: 1em;
            margin-right: 0.5em;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 10%;
            height: 100%;
            background-color: rgba($color: $colorAccent, $alpha: 0.3);
            z-index: -1;
            transition: all $animSpeedQuick*1s $cubicNorm;
            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            right: 10px;
            top: 10px;
            width: 0.8em;
            height: 0.8em;
            background: url('assets/images/icons/down.svg');
            transform: rotate(180deg) ;
            background-size: cover;
            background-position: center;
            transition: all $animSpeedNormal*1s $cubicNorm;
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &:hover {
        bottom: 0;

        .taskbar-wrapper::after {
            transform: rotate(0deg);
        }
    }
}

/*
[]=========== Scrollbar ===========[]
*/
/* width */
::-webkit-scrollbar {
    width: 1em;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: $colorPlaceholder;
    border-radius: 1em;
    border: 4px solid $colorPrimaryDark;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}