@import '_variables';
@import 'fonts';

/*
[]=========== General styling ===========[]
*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: $colorWhite;
    z-index: 1;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 500;
    background-color: $colorPrimaryDark;
}

.content-control {
    padding: 0em 2.5em;
}

a {
    display: inline-block;
    text-decoration: inherit;
    color: inherit; 
}
p {
    font-size: 0.9em;
}

/*
[]=========== Layout ===========[]
*/
#wrapper {
    display: table;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.layout-col {
    display: table-cell;
    vertical-align: top;
    
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    transition: all $animSpeedLong*1s $cubicNorm;
}
#toast-container {
    position: fixed;
    bottom: $innerPad;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;
    width: 400px;
}
#modal-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: black, $alpha: 0.7);
    z-index: 10000;
    padding: $innerPad;
}
.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: initial;
    overflow-y: auto;
    z-index: 1000;
    text-align: center;
    width: 240px;
    border-top-right-radius: $borderRadLarge;
    border-bottom-right-radius: $borderRadLarge;
    background-color: $colorPrimary;
    transition: all $animSpeedLong*1s $cubicNorm;

    &.large {
        width: 300px;
    }
}
.content-wrapper {
    position: relative;
    padding: $innerPad*0.75 $innerPad;
    transition: all $animSpeedLong*1s $cubicNorm;
}

/*
[]=========== Boxes ===========[]
*/
.section-box {
    background-color: $colorPrimary;
    border-radius: $borderRadTiny;
}
.error-box {
    background-color: $colorAccent;
    border-radius: $borderRadTiny;
    padding: $innerPad/2;
    font-size: 0.85em;
    letter-spacing: 0.3px;
}
.error-box-outline {
    background-color: transparent;
    border: 3px solid $colorAccent;
}

/*
[]=========== Badges ===========[]
*/
.badge {
    display: inline-block;
    background-color: $colorPlaceholder;
    font-size: 0.75em;
    height: 100%;
    vertical-align: middle;
    padding: 0.5em 0.8em;
    border-radius: $borderRadTiny;
    font-weight: 500;
    margin: 0 0.5em;

    &.accent {
        background-color: $colorAccent;
    }
    &.dark {
        background-color: $colorPrimaryDark;
    }
}

/*
[]=========== Buttons ===========[]
*/
.btn {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    font-family: 'Poppins';
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 1em 1.5em;
    border-radius: $borderRadTiny;
    cursor: pointer;
    transition: all $animSpeedFast*1s $cubicNorm;

    @include pressable('l');

    img {
        height: 1.4em;
        margin-right: 0.8em;
        vertical-align: middle;
    }
}

.btn-accent {
    background-color: $colorAccent;

    &:hover {
        background-color: darken($color: $colorAccent, $amount: 2);
    }
}
.btn-dark {
    background-color: $colorPrimary;

    &:hover {
        background-color: darken($color: $colorPrimary, $amount: 2);
    }
}
.btn-light {
    background-color: $colorPlaceholder;

    &:hover {
        background-color: darken($color: $colorPlaceholder, $amount: 2);
    }
}
.btn-tertiary {
    &:hover {
        background-color: darken($color: $colorPrimary, $amount: 2);
    }
}
.btn-inline {
    padding: 0.9em;
}
.btn-icon {
    img {
        margin: 0;
    }
}
.btn-full {
    display: block;
    width: 100%;
    margin: 0.5em 0;
}

.btn:disabled {
    opacity: 0.3;

    &:active {
        transform: none;
    }
}

/*
[]=========== Scrollbar ===========[]
*/
/* width */
::-webkit-scrollbar {
    width: 1em;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: $colorPlaceholder;
    border-radius: 1em;
    border: 4px solid $colorPrimaryDark;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}