.table-wrapper {

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 0.5em;

        transition: all $animSpeedFast*1s $cubicNorm;

        &>* {
            transition: all $animSpeedFast*1s $cubicNorm;
        }

        thead tr th {
            text-align: left;
            font-size: 0.8em;
            font-weight: 700;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: $colorPlaceholder;
            padding: 0.5em 1em;

            &:last-of-type {
                text-align: right;
            }

            &::selection {
                background: none;
            }
        }

        tbody tr {

            td {
                padding: 1em;
                font-size: 0.85em;
                background-color: $colorPrimary;
                text-align: left;
                vertical-align: middle;

                span.subtext {
                    opacity: 0.5;
                    font-weight: 300;
                    font-size: 0.8em;
                    letter-spacing: 0.5px;
                    margin-left: 0.3em;
                }

                .loader {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                }

                &:first-of-type {
                    border-top-left-radius: $borderRadTiny;
                    border-bottom-left-radius: $borderRadTiny;
                }
                &:last-of-type {
                    border-top-right-radius: $borderRadTiny;
                    border-bottom-right-radius: $borderRadTiny;
                    text-align: right;
                }

                button {
                    font-size: 0.75em;
                    margin-left: 0.8em;
                }
            }
        }
    }

    .table-actions {
        display: inline-block;
        width: 100%;
        font-size: 0.85em;
        padding: $innerPad/4 $innerPad/2;
        background-color: darken($color: $colorPrimaryDark, $amount: 4);
        border-radius: $borderRadTiny;

        button {
            vertical-align: middle;

            &:last-of-type {
                float: right;
            }
        }

        span {
            position: relative;
            display: inline-block;
            font-size: 0.85em;
            font-weight: 500;
            vertical-align: middle;
            letter-spacing: 1px;
            width: 130px;
            margin-right: 2em;
        }
    }

    .pagination {
        display: inline-block;
        width: 100%;
        text-align: right;
        margin-top: 0.5em;

        & > * {
            position: relative;
            margin-right: 3px;
            height: 38px;
            line-height: 38px;

            &::selection {
                background: none;
            }
        }

        span {
            vertical-align: middle;
            display: inline-block;
            height: 32px;
            font-size: 0.7em;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 0 1.5em;

        }

        &.disabled {
            opacity: 0.2;
        }
    }
}

.btn-pagination {
    position: relative;
    display: inline-block;
    min-width: 42px;
    padding: 0;
    text-align: center !important;
    margin: 0;

    img {
        all: unset;
        height: 1.2em;
        width: 1.2em;
        margin: 0;
    }

    &:hover:not(:disabled) {
        background-color: $colorPrimary;
    }
}










.horizontal-scroll-head {
    position: relative;
    display: block;
    width: 100%;
    padding-left: $innerPad;
    padding-right: $innerPad;
    height: 50px;
    line-height: 50px;

    .scroll-buttons {
        position: absolute;
        top: 50%;
        right: $innerPad;
        transform: translateY(-50%);
    }

    span {
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}
.horizontal-scroll-container {
    display:block;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;

    padding-left: $innerPad;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &>div {
        display: inline-block;
        vertical-align: top;
    }
}

.horizontal-scroll-wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: $innerPad;
        background: linear-gradient(90deg, $colorPrimaryDark 50%, transparent 100%);
        z-index: 10;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: $innerPad;
        background: linear-gradient(-90deg, $colorPrimaryDark 50%, transparent 100%);
        z-index: 10;
    }
}















.infinite-scroll-head {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;

    .scroll-buttons {
        position: absolute;
        top: 50%;
        right: $innerPad;
        transform: translateY(-50%);
    }

    span {
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}
.infinite-scroll-container {
    display:block;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &>div {
        display: inline-block;
        vertical-align: top;
    }
}

.infinite-scroll-wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: $innerPad;
        background: linear-gradient(90deg, $colorPrimaryDark 50%, transparent 100%);
        z-index: 10;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: $innerPad;
        background: linear-gradient(-90deg, $colorPrimaryDark 50%, transparent 100%);
        z-index: 10;
    }
}