table.interface-control {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;

    transition: all $animSpeedFast*1s $cubicNorm;

    &>* {
        transition: all $animSpeedFast*1s $cubicNorm;
    }

    thead tr th {
        text-align: left;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: $colorPlaceholder;
        padding: 0.5em 1em;
        border-bottom: 3px solid $colorPlaceholder;

        &:last-of-type {
            text-align: right;
        }
    }

    tbody tr {

        td {
            padding: 1em;
            font-size: 0.85em;
            background-color: $colorPrimary;
            text-align: left;
            vertical-align: middle;

            span.subtext {
                opacity: 0.5;
                font-weight: 300;
                font-size: 0.8em;
                letter-spacing: 0.5px;
                margin-left: 0.3em;
            }

            .loader {
                display: inline-block;
                vertical-align: middle;
                text-align: left;
            }

            &:first-of-type {
                border-top-left-radius: $borderRadTiny;
                border-bottom-left-radius: $borderRadTiny;
            }
            &:last-of-type {
                border-top-right-radius: $borderRadTiny;
                border-bottom-right-radius: $borderRadTiny;
                text-align: right;
            }

            button {
                font-size: 0.75em;
                margin-left: 0.8em;
            }
        }
    }
}