/*
[]=========== Fonts ===========[]
*/
@font-face {
    font-family: 'Whitney';
    font-weight: 400;
    src: url('~@/assets/fonts/whitney/whitney_regular.otf') format('opentype');
}
@font-face {
    font-family: 'Whitney';
    font-weight: 500;
    src: url('~@/assets/fonts/whitney/whitney_medium.otf') format('opentype');
}
@font-face {
    font-family: 'Whitney';
    font-weight: 800;
    src: url('~@/assets/fonts/whitney/whitney_bold.otf') format('opentype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('~@/assets/fonts/poppins/poppins_medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('~@/assets/fonts/poppins/poppins_semibold.ttf') format('truetype');
}