Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /api/

php_value upload_max_filesize 8000M
php_value post_max_size 8001M

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /api/index.php?$1 [L,QSA]
RewriteRule ^(/api/uploads/videos/) - [F,L,NC]

Header set Access-Control-Allow-Origin *
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Allow-Headers "*"